<%-  include('../includes/admin_header') %> 
   <%- include('../includes/admin_navbar.ejs') %> 
<div class="container">
    <div class="admin_main mt-5">

        <!-- application-info  -->
        <div class="card application-info" >
            <div class="card-header application-info_header" >
                <h2 class="card-title">Application Information</h2>
            </div>
            <div class="card-body application-info_body"  >
                <h5 > <a href="/admin/pendingapplications" > Pending Applications </a></h5>
                <h5 > <a href="/admin/acceptedapplications" > Accepted Applications</a> </h5>
                <h5 > <a href="/admin/rejectedapplications" > Rejected Applications</a> </h5>

            </div>
        </div>
        <!-- application-info  -->

        <!-- courses-info  -->
        <div class="card course-info">
            <div class="card-header application-info_header" >
                <h2 class="card-title"> UG Courses Information</h2>
            </div>
            <div class="card-body application-info_body" >
                <h5 > <a href="/admin/allcourses" > all couses  </a></h5>
                <h5 > <a href="/admin/addcourse" > add courses </a> </h5>
            

            </div>
        </div>

        <!-- courses-info  -->

        <!-- notices  -->

        <div class="card notice-info">
            <div class="card-header application-info_header" >
                <h2 class="card-title"> Notices </h2>
            </div>
            <div class="card-body application-info_body" >
                <h5 > <a href="/admin/allnotices" > Recent notices  </a></h5>
                <h5 > <a href="/admin/addnotice" > add notices  </a> </h5>
            </div>
        </div>

        <!-- notices  -->

        <!-- users-info  -->

        <div class="card notice-info">
            <div class="card-header application-info_header" >
                <h2 class="card-title"> Users  </h2>
            </div>
            <div class="card-body application-info_body" >
                <h5 > <a href="" > All users </a></h5>
                <h5 > <a href="" > add users </a></h5>
            </div>
        </div>

        <!-- users-info  -->

    </div>
</div>

</body>
</html>