   
       <!-- Footer -->
       <footer class="page-footer font-small pt-4 mt-5 " style="background-color: antiquewhite;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-5 mt-md-0 mt-3" style="text-align:left">
      
              <!-- Content -->
              <h5 class="text-uppercase">The Oxford College of Science</h5>
              <address>No.32, 17th B Main, Sector IV, HSR Layout
                Bengaluru 560 102</address>
                <p>080 61754542 / 080 61754543</p>
              
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-2 ">
      
              <!-- Links -->
              
              <h5 class="text-uppercase" style="text-align:left">courses</h5>
              <ul class="list-unstyled"style="text-align:left">
                
                <li class="footer-list">
                  <a href="#!"> ug courses</a>
                </li>
                <li class="footer-list">
                  <a href="#!">pg courses</a>
                </li>
           
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2">
      
              <!-- Links -->
              <h5 class="text-uppercase footer-list">about us</h5>
      
              <ul class="list-unstyled">
                <li class="footer-list">
                  <a href="#!">about us </a>
                </li>
                <li class="footer-list">
                  <a href="#!">mission </a>
                </li>
                <li class="footer-list">
                  <a href="#!">vision </a>
                </li>
              
              </ul>
      
            </div>
            <!-- Grid column -->
            <div class="col-md-3 ">
      
                <!-- Links -->
                <h5 class="text-uppercase footer-list">admission</h5>
        
                <ul class="list-unstyled">
                  <li class="footer-list">
                    <a href="/eligibility">eligibility</a>
                  </li>
                  <li class="footer-list">
                    <a href="#!">application form </a>
                  </li>
                
                </ul>
          
            </div>
          </div>
          <!-- Grid row -->
         
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">2023 Copyright © 
          <a href="/"> The Oxford College of Science</a>
        </div>
        <!-- Copyright -->
      
      </footer>
    <!-- footer -->
</body>
</html>