<%- include('./includes/header.ejs') %> 


<div class="container main-about">
    <h1 class="mt-5 mb-5"> About us </h1>
    <img src="../images/The_oxford_2.jpeg" alt="" style="float:left; width:300px; margin-right:25px; ">
    <p style="font-size: 25px; text-align:justify">The Oxford College of Science was started in the year 1994 with twelve students and five teachers. Within 25 years the college has registered a phenomenal growth. Presently College is catering education to more than 3000 students. The institution owes this astounding progress to our dedicated Management and a committed teaching staff. Within an intensely competitive environment, the college has adopted a dynamic, global, high quality: creative and communicative approach in education, as well as research and development. Keeping abreast with modern developments, the institution is constantly reinventing itself and renovating its physical infrastructure as well as its research and education facilities.</p>

    <div class="mt-5">
        <img src="../images/The_Oxford_3.jpg" alt="" style="float:right">
        <p style="font-size:25px;">The Oxford College of Science which is affiliated to Bangalore University proudly stands on a sprawling campus with a 6-storeyed building of 2.85 lakh sq. area in HSR Layout, Sector IV and is considered the most preferred place for obtaining a Bachelors and Master’s Degree in different Sciences and technical Subjects. The Oxford College of Science offers 10 combinations of the B.Sc. programme; B.Sc.-Fashion and Apparel Design and BCA; 10M.Scprogrammes, MCA, MA (English); PG Diploma in Cellular and Molecular Diagnostics.
    
    </div>
 
    </p>
</div>


<%- include('./includes/footer.ejs') %> 