<%- include('./includes/header.ejs') %>

<div class="container mt-5" >
    <div class="row  "  style="margin-top:50px;">
        

        <h1 class="mb-4"> <i class="fa-sharp fa-solid fa-right-to-bracket"></i>      Application Process </h1>

        <div class="col">
            <i class="fa-solid fa-user fa-3x" style="margin:25px ;margin-left:65px;"></i>
           <h5>create an account </h3>
        </div>

        <div class="col">
            <i class="fa-sharp fa-solid fa-envelope fa-3x pt-4 mb-4"  style="margin-left:85px"></i>
            <h5 style="margin-left:50px">verify email </h5>
            
        </div>

        <div class="col">
            <i class="fa-solid fa-rectangle-list fa-3x pt-4 mb-4" style="margin-left:85px"></i>
            <h5 style="margin-left:30px">Fill application form</h5>
        </div>
        
        <div class="col">
            <i class="fa-solid fa-cloud-arrow-up fa-3x pt-4 mb-4" style="margin-left:85px"></i>
            <h5 style="margin-left:30px">Upload Documents</h5>
        </div>
        <div class="col mb-5">
        
            <i class="fa-sharp fa-solid fa-clipboard-check fa-3x pt-4 mb-4" style="margin-left:85px"></i>
            <h5 style="margin-left:30px">Submit Application</h5>
        </div>
            

           

    </div>

    <div class="mt-5 ">
        <h1 class="mb-5" ><i class="fa-sharp fa-solid fa-right-to-bracket"></i> Admission Process </h1>
    
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">1.Application Form</h5>
        </div>
        <div class="card-body">
            <p class="card-text" style="font-size:20px;"> Candidates can apply for admission to The Oxford College of Science by filling out the online application form available on the college's website. The application form usually requires candidates to provide personal and academic details, as well as upload scanned copies of relevant documents</p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">2.Shortlisted Candidates</h4>
        </div>
        <div class="card-body">
            <p class="card-text" style="font-size:20px;">The candidates will be shortlisted based on their marks </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">3.Personal Interview</h4>
        </div>
        <div class="card-body">
            <p class="card-text" style="font-size:20px">The shortlisted candidates will be called for an personal interview </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">4.Offer of Admission</h4>
        </div>
        <div class="card-body">
            <p class="card-text" style="font-size:20px"> The offer of admission will usually be communicated through a call, email, or post. Candidates who are offered admission must confirm their acceptance by paying the requisite admission fee and submitting all relevant documents</p>
        </div>
    </div>


</div>
<form action="/applications/applicationForm" method="get">
    <div class="mt-5" >
        <button class="btn btn-primary" type="submit">Go to Application Form</button>
    </div>

</form>



</div>

<%- include('./includes/footer.ejs') %> 