<%- include('./includes/header') %>


<div class="container">

  
    <h1  class="mt-5"> <i class="fa-solid fa-graduation-cap"></i>Under Graduates Programmes </h1>
    <h3 class="mt-5"> B.Sc (Bachelor of Science)</h3>
    <ul class="list-group courses-list" style="position: relative; left:250px;" >
        <% courses.forEach(course =>{ %> 
            <% if(course.department == 'BSC'){ %> 
                <li class="list-group-item text-bg-info" > <%= course.courseName %> </li>

            <% } %> 
        <% }) %>    
    </ul>

    <h3 class="mt-5"> BCA (Bachelor of Computer Application)</h3>
    <ul class="list-group courses-list" style="position: relative; left:250px;">

        <% courses.forEach(course => { %> 
            <% if(course.department == 'BCA'){ %> 
                <li class="list-group-item text-bg-primary"><%= course.courseName %>  </li>
            <% } %> 
        <% }) %> 

    </ul>

    

</div>


<%- include('./includes/footer') %> 