<%- include('./includes/header') %> 


<div class="container">

    <div class="row" style="background-image: url('../images/The_Oxford.png');">
        <div class="col"> 
            <h3>Course</h3>
            
        </div>
        <div class="col">
            <h3>combinations</h3>
        </div>
        <div class="col">
            <h3>Duration</h3>
        </div>
        
    </div>
</div>




<%- include('./includes/footer') %> 