<%- include('./includes/header') %> 


<div class="container mt-5">
    <!-- for bsc  -->
    <div class="row" >
        <div class="col-lg-2 "> 
            <h4 class="eligibility-title">COURSE</h3>
            <p>B.Sc.,Basic & Honours Degree</p>
            
        </div>
        <div class="col-lg-2 ">
            <h4 class="eligibility-title"> COMBINATIONS</h3>
            <ul class="eligibility-list">
                <li  style="width:100% ; text-align: left;">Biochemistry </li>
                 <li>Biotechnology </li>
                 <li>Chemistry </li>
                 <li>Genetics</li>
                <li>Microbiology</li>
                <li>Zoology</li>
                <li>Computer Science</li>
                <li>Electronics</li>
                <li> Mathematics</li>
                <li>Physics</li>   
                <li>Statistics</li>
            </ul>
        </div>
        <div class="col-lg-2">
            <h4 class="eligibility-title">DURATION</h3>
            <p>Basic Degree: 3 years (6 Semesters)
                Honours Degree: 4 years (8 Semesters)</p>
        </div>
        <div class="col">
            <h4 class="eligibility-title">ELIGIBILITY </h3>
            <p>A candidate who has passed the two-year Pre-University Examination conducted by the Pre-University Education Board in Karnataka, or any other examination considered equal thereto. Generally, a candidate to opt for a subject should have studied that subject at the qualifying examination. Additional conditions of eligibility required for specific subjects are as follows:
                a. Candidates to opt for Biochemistry should have studied that subject or Chemistry at the qualifying examination.
                b. Candidates to opt for Biotechnology, Microbiology, Zoology should have studied that subject or Biology at the qualifying examination.
                c. Candidates to opt for Physics should have studied Mathematics in addition to Physics at the qualifying examination.
                d. Candidates to opt for Statistics should have studied that subject or Mathematics at the qualifying examination.</p>
        </div>
        
    </div>


    <!-- for bca  -->

    <div class="row mt-5">
        <div class="col-lg-2">
            <p>BCA Basic & Honours Degree</p>
        </div>
        <div class="col-lg-2">
            <ul class="eligibility-list">
                <li>Computer Applications</li>
            </ul>
            
        </div>
        <div class="col-lg-2">
            <p>Basic Degree: 3 years (6 Semesters)
                    Honours Degree:4 years (8 Semesters)</p>
        </div>
        <div class="col">
<p>A candidate who has passed the two years Pre-University Examination conducted by the Pre-University Education Board in the Karnataka or JODC/ Three years Diploma in Engineering of Government of Karnataka or, or any other examination considered equal thereto.</p>
        </div>
    </div>
</div>




<%- include('./includes/footer') %> 