
    <%- include ('./includes/header.ejs') %> 
    


    <div class="colleg_photo_box container mt-4">
        <img src="../images/The_Oxford.png" alt="" style="height:700px;">
    </div>

    <div class="container mt-5 college_about" >
        <h1 style="margin-bottom:50px; margin-top: 100px;;">About us </h1>
        <img src="../images/The_oxford_2.jpeg" alt="About The oxford " style="float: left; width:350px; margin-right:55px;">
        <p style=" text-align: justify;
        font-size: 25px;"> The Oxford College of Science was started in the year 1994 with twelve students and five teachers. Within 25 years the college has registered a phenomenal growth. Presently College is catering education to more than 3000 students. The institution owes this astounding progress to our dedicated Management and a committed teaching staff. 
        The Oxford College of Science which is affiliated to Bangalore University proudly stands on a sprawling campus with a 6-storeyed building of 2.85 lakh sq. area in HSR Layout, Sector IV and is considered the most preferred place for obtaining a Bachelors and Master’s Degree in different Sciences and technical Subjects. The Oxford College of Science offers 10 combinations of the B.Sc. programme; B.Sc.-Fashion and Apparel Design and BCA; 10M.Scprogrammes, MCA, MA (English); PG Diploma in Cellular and Molecular Diagnostics.

</p>
    </div>

    <div class="container mt-5" >
        <h1 style="margin-top:80px;">Latest Notice </h1>
        <div class="card mt-5" style="width:500px;">
            <div class="card-header bg-success">
                <h4>Admission open</h1>
            </div>
            <div class="card-body">
              <h5 class="card-title">Admission open for the year 2023</h5>
              <p class="card-text">UG Courses & PG Courses | Eligibility | Application Form </p>

                <table>
                    <thead>
                        <th style="width:150px;"> <p class="card-text">UG COURSE </p></th>
                        <th><p class="card-text">PG COURSE </p></th>
                    </thead>

                    <tbody>
                        <tr>
                            <td> <p class="card-text">BCA</p></td>
                            <td><p class="card-text">MCA</p></td>
                        </tr>
                        <tr>
                            <td> <p class="card-text">BBA</p></td>
                            <td><p class="card-text">MBA</p></td>
                        </tr>

                        <tr>
                            <td> <p class="card-text">B.COM</p></td>
                            <td><p class="card-text">M.COM</p></td>
                        </tr>

                        <tr>
                            <td> <p class="card-text">B.SC</p></td>
                            <td><p class="card-text">M.SC</p></td>
                        </tr>


                    </tbody>
                </table>




              

              <a href="#" class="btn btn-success mt-3">Read more</a>
            </div>
          </div>
        
    </div>

    <div>
        <!-- for printing the salient features in boxes cards -->
    </div>

<%- include('./includes/footer.ejs') %> 


