<div class="container ">
    <h1 class="text-black  mb-5" style="margin-top:120px;" >Salient Features of our college </h1>
    <div class="row">
        <!-- for PLacement -->
        <div class="col">
            <div class="card" style="background-color: chocolate; height: 250px;">
                <div class="card-header">
                    <h5 class="text-center card-title text-white">PLacement</h5>
                </div>
                <div class="card-body">
                    <h5 style="margin-left:170px; margin-top: 50px;">91% </h5>
                </div>
            </div>
        </div>
        <!-- for result  -->
        <div class="col">
            <div class="card" style="background-color: chocolate; height: 250px;">
                <div class="card-header">
                    <h5 class="text-center card-title text-white">Result</h5>
                </div>
                <div class="card-body">
                    <h5 style="margin-left:170px; margin-top: 50px;">88% </h5>
                </div>
            </div>
        </div>

        <!-- for ranks  -->
        <div class="col">
            <div class="card" style="background-color: chocolate; height: 250px;">
                <div class="card-header">
                    <h5 class="text-center card-title text-white">Rank</h5>
                </div>
                <div class="card-body">
                    <h5 style="margin-left:170px; margin-top: 50px;">60 </h5>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-5">

        <!-- for students  -->
        <div class="col">
            <div class="card" style="background-color: chocolate; height: 250px;">
                <div class="card-header">
                    <h5 class="text-center card-title text-white">Students</h5>
                </div>
                <div class="card-body">
                    <h5 style="margin-left:170px; margin-top: 50px;">11889 </h5>
                </div>
            </div>
        </div>
        <!-- for collaborations  -->
        <div class="col">
            <div class="card" style="background-color: chocolate; height: 250px;">
                <div class="card-header">
                    <h5 class="text-center card-title text-white">Faculty</h5>
                </div>
                <div class="card-body">
                    <h5 style="margin-left:170px; margin-top: 50px;">150</h5>
                </div>
            </div>
        </div>

        <!-- for faculty  -->
        <div class="col">
            <div class="card" style="background-color: chocolate; height: 250px;">
                <div class="card-header">
                    <h5 class="text-center card-title text-white">collaborations/MoU</h5>
                </div>
                <div class="card-body">
                    <h5 style="margin-left:170px; margin-top: 50px;">25 </h5>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <h1>Other Features </h1>

    <h5 class="text-white mt-4">Highly qualified and experienced faculty.</h5>
    <h5 class="text-white mt-4">Eco-friendly campus.</h5>
    <h5 class="text-white mt-4">“Ragging Free” Campus. </h5>
    <h5 class="text-white mt-4">“Ragging Free” Campus. </h5>
    <h5 class="text-white mt-4">Conducive academic environment.</h5>
    <h5 class="text-white mt-4">Regular classes and continuous evaluation.</h5> -->


</div>

