li{
    width:120px;
    text-align: center;
}

.main-heading{
    font-family: 'Geologica', sans-serif;
    font-size: 3.3rem;
    margin-left:25px;
}

.main-nav a{
 color:black;
 text-decoration: none;   
}


.footer-list{
    text-align:left;
}

.footer-list a{
    color:black;
    text-decoration: none;
}

.application-table tr{
    height: 50px;
    font-size: 25px;;
}

.courses-list li {
    width:300px;
    margin-top:20px;
}

.eligibility-list li{
    text-align: left;
    padding: 0px;
}

.eligibility-title {
    margin-bottom: 30px;
}

.notice-card {
    background-color: rgb(43, 71, 71);
    width:800px;
    border-radius: 0px;
}
.notice-card p {
    font-size: 20px;
}