<%- include('../includes/header') %> 

<div class="container">

    <div class="card mt-5" style="background-color:bisque; width: 700px;">
        <h3 class="card-title text-center mt-5">Reset Password </h3>
        <form action="/users/resetpassword" method="POST">
            <label class="form-label mt-5" >Enter email : </label>
            <input type="email" class="form-control" name="email">
    
            <label  class="form-label mt-3"> Enter your new password  : </label>
            <input type="password" name="password"  class="form-control">
    
            <label class="form-label mt-3"> Confirm password </label>
            <input type="password" name="confirmPassword"  class="form-control">
    
            <button type="submit" class="btn btn-success mt-5 "> Reset Password </button>
    
        </form>
    </div>
  
</div>



<%- include('../includes/footer') %> 