<%- include('../includes/header') %>
    <div class="container">
        <div class="card" style="width:500px; margin-left:400px; margin-top:100px; margin-bottom:150px; padding:50px;;">
             <h1 class="card-title mb-5" style="margin-left:130px;">Sign in </h1>
            <form action="/users/sign" method="POST">
                <label class="form-label">Enter your name</label>
                <input type="text" name="username" id="" class="form-control mb-3">
    
                <label  class="form-label">Enter your email</label>
                <input type="email" name="email"  class="form-control mb-3">
    
                <label  class="form-label">Enter your password</label>
                <input type="password" name="password"  class="form-control mb-2">

                <label  class="form-label">Student Pic</label>
                <input type="file" name="studentPic"  class="form-control"> <br> 
                <p class="text-muted">already have an account? <a href="/users/login">Login</a> </p>
                <button type="submit" class="btn  btn-primary" style="margin-left:150px; margin-top:40px;">Register</button>
                
            </form>
        </div>
    </div>
    
<%- include('../includes/footer') %> 





